
body{
    background-image: url("https://images.unsplash.com/photo-1718287678819-fedb54996422?q=80&w=326&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}
#clock-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
    flood-color: aliceblue;
    backdrop-filter: blur(4px);
    width: 100%;

    background-color: rgba(255, 213, 0, 0.208);
}

/* body{
    font-family: Arial, Helvetica, sans-serifx;
    background-color: hsl(0, 3%, 93%);
    align-items: center;
}

p{
    color: #2ccc9c;
}
form{
    background-color: #fff;
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 25px hsl(0, 0%, 1% ,0.3);
}
#inputTemp{
    width: 50%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid red;
    margin-bottom: 5px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid green;
    color: wheat;
    background-color: black;
    cursor: pointer;
}
button:hover{
    color: black;
    background-color: wheat;
}

#result{
    font-size: 1.5em;
    font-weight: bold;
} */


/* #counter{
    font-size: 10em;
    font-family: Helvetica;
    display: block;
    text-align: center;
}
#btnContainer{
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1em;
    color: aliceblue;
    background-color: hsl(217, 71%, 69%);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color:   hsl(217, 78%, 58%);
} */